### Mô tả ý tưởng
 * Nếu một ngày số lượng IP truy cập quá lớn, được xem đây là vấn đề

### Triển khai 
1. Tính số lượng IP tuy cập trong một ngày
2. Tìm mật độ số lượng IP truy cập trong một ngày
3. Sử dụng CDF và PDF để đánh giá

In [89]:
import pandas as pd

In [90]:
col_names = ['time_stamp', 'source', 'message']
# col_names = ['ip_address', 'time_stamp', 'request', 'status_code', 'response_size', 'user_agent']

file_path = '../dataset/access_log_1.csv'
data = pd.read_csv(file_path, header = 0 , names = col_names)
data['time_stamp'] = pd.to_datetime(data['time_stamp'])
data.head()

                        time_stamp          source      message
0 2023-06-12 07:35:29.018000+00:00      VNG_baobd2  Nginx Query
1 2023-06-12 07:36:55.025000+00:00  103.245.252.19  Nginx Query
2 2023-06-12 07:36:55.032000+00:00  103.245.252.19  Nginx Query
3 2023-06-12 07:37:25.001000+00:00  103.245.252.75  Nginx Query
4 2023-06-12 07:41:31.223000+00:00  103.245.252.19  Nginx Query

In [91]:
from datetime import datetime

FORMAT_DATE_PATTERN = "%d-%m"

data['date'] = data['time_stamp'].dt.strftime(FORMAT_DATE_PATTERN)
data.head()

                        time_stamp          source      message   date
0 2023-06-12 07:35:29.018000+00:00      VNG_baobd2  Nginx Query  12-06
1 2023-06-12 07:36:55.025000+00:00  103.245.252.19  Nginx Query  12-06
2 2023-06-12 07:36:55.032000+00:00  103.245.252.19  Nginx Query  12-06
3 2023-06-12 07:37:25.001000+00:00  103.245.252.75  Nginx Query  12-06
4 2023-06-12 07:41:31.223000+00:00  103.245.252.19  Nginx Query  12-06

In [92]:
ipCounts = data.groupby('date')['source'].count().reset_index()
ipCounts = ipCounts.rename(columns={'source': 'count'})
print(ipCounts)

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# sns.histplot(data.groupby('time_stamp')['source'], bins = 30)
# plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%d-%m'))
# plt.xticks(rotation=45)

     date   count
0   01-07       1
1   04-07       1
2   07-07    9757
3   10-07     147
4   11-07     237
5   12-06   36467
6   12-07       8
7   13-06      16
8   13-07   26643
9   14-06    2425
10  15-06   35323
11  16-06   26602
12  17-07    1158
13  18-07    4468
14  19-06  271276
15  19-07       1
16  20-06  183708
17  21-06  189996
18  22-06  218187
19  23-06   78288
20  26-06   44868
21  27-06   28751
22  28-06   32524
23  30-06  146177

In [103]:
# dayByDay =  data.groupby(pd.Grouper(key = 'time_stamp', freq= 'D'))
# unique_ips_by_day = dayByDay['source'].nunique()
# for day, ips in unique_ips_by_day.items():
#     plt.hist(ips, bins=10)
#     plt.title(f"IP histogram for {day.strftime('%Y-%m-%d')}")
#     plt.xlabel("IP address")
#     plt.ylabel("Count")
#     plt.show()

dataGroupByDate = data[data['date'] == '12-06']
dataGroupByDate['source'].value_counts()
# dataGroupByDate.count()

139.99.69.34       32522
VNG_baobd2          3817
VNG_antqt             23
VNG_khoabda           14
103.245.252.76        11
84.17.59.83            7
172.111.197.66         7
138.199.18.85          7
69.16.157.5            5
216.151.180.3          4
103.9.79.230           4
185.242.7.134          4
171.249.93.255         4
103.9.79.189           3
52.64.212.194          3
103.245.252.19         3
20.163.64.196          2
104.37.28.2            2
195.201.198.102        2
85.255.234.210         1
103.245.252.75         1
212.102.57.218         1
207.241.232.89         1
209.58.162.239         1
93.174.93.114          1
94.102.63.27           1
18.132.194.134         1
23.137.251.61          1
15.160.57.181          1
23.137.249.143         1
185.246.188.74         1
34.172.181.131         1
146.70.103.137         1
146.70.103.135         1
103.4.19.25            1
23.254.203.138         1
103.195.4.182          1
49.213.78.31           1
VNG_hainm2             1
82.132.229.156         1
34.71.79.155           1
54.188.77.0            1
Name: source, dtype: int64